.root {
  width: 200px;
  background-color: #e8e7e6;
  padding: 20px 20px 30px;
}

.cardImg {
  text-align: center;

  img {
    padding: 20px;
  }
}

.categories {
  color: inherit;
}

.title {
  margin-bottom: 5px;
}