.App {
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
}

.wrapper {
  padding: 20px;

  @media (max-width: 440px) {
    padding: 10px;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 11px;
  grid-row-gap: 30px;
  margin-bottom: 30px;
}

.button {
  background-color: #dfe6ed;
  padding: 10px 20px;
  font-size: 20px;
  color: #55677d;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  border: none;
  transition: color 0.2s linear, background-color 0.2s linear;

  &:hover {
    color: #dfe6ed;
    background-color: #55677d;
  }
}

.result {
  text-align: center;
}

.book__page {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
}

.book__img {
  padding: 20px;
  display: flex;
  flex-basis: 40%;
  background-color: #e8e7e6;
  max-height: 500px;

  img {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 300px;
    max-height: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.book__content {
  margin-left: 20px;
  position: relative;
  flex-basis: 60%;
}

.book__categories {
  font-size: 22px;
  opacity: 0.5;
}

.book__authors {
  font-size: 22px;
  text-decoration: underline;
  opacity: 0.5;
}

.book__title {
  font-size: 30px;
}

.book__description {
  font-size: 22px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0, 0.3);
  min-height: 200px;
}

.book__button {
  position: absolute;
  bottom: -35px;
  right: 0;
  justify-content: end;
}

@media (max-width: 1550px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1260px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .book__img {
    max-height: 300px;

    img {
      max-width: 200px;
      max-height: 300px;
    }
  }
}

@media (max-width: 760px) {
  .content {
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .book__page {
    flex-direction: column;
    margin-top: 20px;
  }

  .book__content {
    margin-left: 0;
  }

  .book__title {
    margin: 0;
    font-size: 28px;
  }

  .book__categories {
    font-size: 18px;
  }
}

@media (max-width: 440px) {
  .book__title {
    font-size: 24px;
  }

  .book__authors {
    font-size: 18px;
  }

  .book__button {
    bottom: -30px;
  }
}
